@media screen and (max-width: 1444px) {
  .gap-lg-10 {
    gap: 50px;
  }
  .about-section {
    & h2 {
      padding: 0 24%;
    }
    & p {
      padding: 10px 330px;
    }
  }
}

@media screen and (max-width: 1180px) {
  .gap-lg-10 {
    gap: 50px;
  }
  .about-section {
    & h2 {
      padding: 0 5%;
      font-size: 40px;
    }
    & p {
      padding: 10px 180px;
    }
  }
  .gap-lg-10 {
    gap: 12px;
  }
  .back-content {
    position: absolute;
    top: 25%;
    left: 14%;
  }
  .case-studies-section {
    & h2 {
      font-size: 40px;
      padding: 15px 2%;
      line-height: 50px;
    }
  }
  .blogs-section {
    & h3 {
      font-size: 18px;
      line-height: 26px;
    }
  }
  .career-section {
    & h2 {
      font-size: 40px;
      line-height: 50px;
    }
  }
  footer {
    & h2 {
      font-size: 30px;
      line-height: 40px;
    }
    & .footer-links ul {
      gap: 60px;
    }
  }
}
@media screen and (max-width: 820px) {
  .about-section {
    & h2 {
      font-size: 30px;
    }
    & p {
      padding: 0px 0px;
    }
  }
  .back-content {
    position: absolute;
    top: 22%;
    left: 15%;
    font-size: 40px;
  }
  .video-section {
    & h1 {
      font-size: 40px;
      font-weight: 500;
      color: #ffffff;
      line-height: 53px;
    }
  }
  .blogs-section {
    & {
      padding: 0px 0;
    }
  }
  .case-studies-section {
    & {
      padding: 50px 0;
    }
  }
  .right-side-image {
    max-width: 15%;
  }
  footer {
    & .footer-links ul {
      gap: 30px;
    }
    & .footer-links a {
      font-size: 16px;
    }
    & h2 {
      font-size: 25px;
      line-height: 37px;
    }
  }
}
@media screen and (max-width: 520px) {
  .about-section {
    & .top-center-animation {
      top: 10%;
      transform: translate(0%, 3%);
    }
  }
  .about-section {
    & .right-side-animation {
      top: 18%;
      right: 0%;
      width: 43%;
    }
    & .right-side-animation img {
      width: 100%;
      max-width: 60%;
    }
  }
  .bottom-top-image {
    bottom: 15%;
    left: 0%;
  }
  .left-side-image {
    position: absolute;
    left: 56%;
    bottom: 193%;
  }

  .left-side-image img {
    width: 100%;
    max-width: 80%;
  }
  footer {
    & .social-icon ul {
      gap: 30px;
    }
    & .py-10 {
      padding-top: 35px;
      padding-bottom: 50px;
    }
  }
  .video-section {
    height: auto;
    width: 100%;
  }
  .video-section {
    & h1 {
      font-size: 24px;
      font-weight: 500;
      color: #ffffff;
      line-height: 28px;
    }
  }
  .back-content {
    top: 15%;
    left: 15%;
    font-size: 40px;
  }
  .about-section {
    & h2 {
      font-size: 30px;
      line-height: 45px;
    }
  }
  .case-studies-section {
    & h2 {
      font-size: 30px;
      line-height: 40px;
    }
  }
}
@media screen and (max-width: 400px) {
  .back-content {
    top: 15%;
    left: 9%;
    font-size: 29px;
  }
}
